.overlay {
    background:transparent;
    position:relative;
    width:640px;
    height:480px; /* your iframe height */
    top:480px;  /* your iframe height */
    margin-top:-480px;  /* your iframe height */
}

#map{
    height: 100%;
}

#map-wrapper{
    height: 95vh;
}

.bg-steak {
    background: url("../img/steakhouse-60.jpg") no-repeat center center;
    color:#ffffff;
    background-size:cover;
    height: 95vh;
    position: relative;
}

/*.bg-steak:before {*/
    /*background: black;*/
    /*width: 100vw;*/
/*}*/

/*.bg-steak > .container {*/
    /*position: relative;*/
    /*z-index: 3;*/
/*}*/


.text-middle {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 600px) {
    #map{
        height: 85vh;
    }
    
    #map-wrapper{
        height: 100%;
    }
}

.outline{
    text-shadow: 0 0 .5em rgba(0,0,0,.6);
}
